{% extends "trai_complaint/common.html" %}
{% block content %}
	<div class="my-content">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6">
				<h2> Check Out Probable Solutions </h2>
				<h3> Don't Worry, We are already working on resolving it </h3>
				<div class="box box-info">
	            <div class="box-header with-border">
	              <h3 class="box-title">No Internet</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	              <ul>Try the below steps:
	              	<li> Restart the phone </li>
	              	<li> Go to Settings </li>
	              	<li> Select Data Options </li>
	              	<li> Make Sure your Data Pack is On while On Roaming </li>
	              	<li> Open Browser and Test </li>
	              </ul>
	            </div>
	            <!-- /.box-body -->
	            <div class="box-footer clearfix">
	              <a href="javascript:void(0)" class="btn btn-warning btn-sm btn-default btn-flat pull-right">This did not Help.</a>
	              <a href="javascript:void(0)" class="btn btn-success btn-sm btn-default btn-flat pull-right">This was Helpful.</a>
	            </div>
	            <div class="box box-info">
	            <div class="box-header with-border">
	              <h3 class="box-title">No Recharge</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	              <ul>Try the below steps:
	              	<li> Check your balance by dialing *123# </li>
	              	<li> If not showing recharged money, then restart the phone once. </li>
	              	<li> Check Balance Again after restarting. </li>
	              	<li> If Still Not Showing then please repeat the above steps after a few minutes. The problem may occur due to some latency issues. We are also verofying from our end.</li>
	              </ul>
	            </div>
	            <!-- /.box-body -->
	            <div class="box-footer clearfix">
	              <a href="javascript:void(0)" class="btn btn-warning btn-sm btn-default btn-flat pull-right">This did not Help.</a>
	              <a href="javascript:void(0)" class="btn btn-success btn-sm btn-default btn-flat pull-right">This was Helpful.</a>
	            </div>
	            <div class="box box-info">
	            <div class="box-header with-border">
	              <h3 class="box-title">Balance Deducted</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	              <ul>Try the below steps:
	              	<li> Check your Sent Messages </li>
	              	<li> If you find any service activation message, such as ACT JOKES then you may have activated the said service.</li>
	              	<li> To Stop or Discontinue the Service, please send STOP JOKES to 123. </li>
	              	<li> If you do not find any activation messages, don't worry, we have already contacted Airtel on your behalf. They would help you resolve it soon</li>
	              </ul>
	            </div>
	            <!-- /.box-body -->
	            <div class="box-footer clearfix">
	              <a href="javascript:void(0)" class="btn btn-warning btn-sm btn-default btn-flat pull-right">This did not Help.</a>
	              <a href="javascript:void(0)" class="btn btn-success btn-sm btn-default btn-flat pull-right">This was Helpful.</a>
	            </div>
			</div>
		</div>
	</div>
{% endblock %}