{% extends "trai_complaint/common.html" %}
{% block extra_css %}
	<style>
    	.content-wrapper, .right-side, .main-footer{
			margin-left: 235px;
		}
		.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
			background-color:#222d32; 
		}
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}
{% block content %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
	  <!-- /.search form -->
	  <!-- sidebar menu: : style can be found in sidebar.less -->
	  <ul class="sidebar-menu">
	    <li class="header">MAIN NAVIGATION</li>
	    <li class="active">
	      <a href="#">
	        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'trai_complaint:comparative' %}">
	        <i class="fa fa-pie-chart"></i> <span>Comparitive Analytics</span>
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'trai_complaint:predective' %}">
	        <i class="fa fa-bars"></i> <span>Predective Analytics</span>
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'trai_complaint:download' %}">
	        <i class="fa fa-cloud-download"></i> <span>View & Export</span>
	      </a>
	    </li>
	  </ul>
	</section>
<!-- /.sidebar -->
</aside>
<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<section class="content-header">
	  <h1>
	    Predictive Analytics
	    <small>Control panel</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">Predictive Analytics</li>
	  </ol>
	</section>
	<!-- Main content -->
	<section class="content">
	  <form role="form">
	  	<div class="col-md-4">
		  	<div class="form-group">
				<label>Select Circle</label>
				<select class="form-control">
					<option>option 1</option>
					<option>option 2</option>
					<option>option 3</option>
					<option>option 4</option>
					<option>option 5</option>
				</select>
            </div>
        </div>
        <div class="col-md-4">
		  	<div class="form-group">
				<label>Select TSP</label>
				<select class="form-control">
					<option>option 1</option>
					<option>option 2</option>
					<option>option 3</option>
					<option>option 4</option>
					<option>option 5</option>
				</select>
            </div>
        </div>
        <div class="col-md-4">
		  	<div class="form-group">
				<label>Date Range</label>
				<div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="reservation">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary predictive-submit">Submit</button>	
	  </form>
	  <div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box bg-aqua">
		    <span class="info-box-icon"><i class="fa fa-bug"></i></span>

		    <div class="info-box-content">
		      <span class="info-box-text">Issues</span>
		      <span class="info-box-number">41,410</span>

		      <div class="progress">
		        <div class="progress-bar" style="width: 70%"></div>
		      </div>
		          <span class="progress-description">
		            70% Increase in the next 30 Days
		          </span>
		    </div>
		    <!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box bg-green">
		    <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

		    <div class="info-box-content">
		      <span class="info-box-text">Resolutions</span>
		      <span class="info-box-number">4,410</span>

		      <div class="progress">
		        <div class="progress-bar" style="width: 30%"></div>
		      </div>
		          <span class="progress-description">
		            30% Decrease in the next 30 Days
		          </span>
		    </div>
		    <!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box bg-yellow">
		    <span class="info-box-icon"><i class="fa fa-phone"></i></span>

		    <div class="info-box-content">
		      <span class="info-box-text">Call Drops</span>
		      <span class="info-box-number">10,450</span>

		      <div class="progress">
		        <div class="progress-bar" style="width: 60%"></div>
		      </div>
		          <span class="progress-description">
		            60% Increase in the next 30 Days
		          </span>
		    </div>
		    <!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box bg-red">
		    <span class="info-box-icon"><i class="fa fa-file-o"></i></span>

		    <div class="info-box-content">
		      <span class="info-box-text">Billing Issues</span>
		      <span class="info-box-number">31,510</span>

		      <div class="progress">
		        <div class="progress-bar" style="width: 50%"></div>
		      </div>
		          <span class="progress-description">
		            50% Increase in the next 30 Days
		          </span>
		    </div>
		    <!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
	  </div>
      <!-- /.row -->
      <div class="row">
      	<div class="col-md-12">
      		<h3>Trend Line for Previous Time Frames </h3>
      		<div class="chart">
                <canvas id="lineChart" style="height: 300px;"></canvas>
            </div>
      	</div>
      </div>
	</section>
	<!-- /.content -->
</div>
{% endblock %}
{% block extra_js %}
	<script src="/static/plugins/chartjs/Chart.min.js"></script>
	<script>
			
			$(function () {
				//Date range picker
			    $('#reservation').daterangepicker();
			    //Date range picker with time picker
			    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
			    //Date range as a button
			    $('#daterange-btn').daterangepicker(
			        {
			          ranges: {
			            'Today': [moment(), moment()],
			            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			            'This Month': [moment().startOf('month'), moment().endOf('month')],
			            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			          },
			          startDate: moment().subtract(29, 'days'),
			          endDate: moment()
			        },
			        function (start, end) {
			          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			        }
			    );

			     var lineChartData = {
			      labels: ["January", "February", "March", "April", "May", "June", "July"],
			      datasets: [
			        {
			          label: "Issues",
			          fillColor: "rgba(210, 214, 222, 1)",
			          strokeColor: "rgba(210, 214, 222, 1)",
			          pointColor: "rgba(210, 214, 222, 1)",
			          pointStrokeColor: "#c1c7d1",
			          pointHighlightFill: "#fff",
			          pointHighlightStroke: "rgba(220,220,220,1)",
			          data: [65, 59, 80, 81, 56, 55, 40]
			        },
			        {
			          label: "Resolved Issues",
			          fillColor: "rgba(60,141,188,0.9)",
			          strokeColor: "rgba(60,141,188,0.8)",
			          pointColor: "#3b8bba",
			          pointStrokeColor: "rgba(60,141,188,1)",
			          pointHighlightFill: "#fff",
			          pointHighlightStroke: "rgba(60,141,188,1)",
			          data: [28, 48, 40, 19, 86, 27, 90]
			        },
			        {
			          label: "Call Drops",
			          fillColor: "rgba(141,60,188,0.9)",
			          strokeColor: "rgba(188,60,188,0.8)",
			          pointColor: "#c28bba",
			          pointStrokeColor: "rgba(60,141,188,1)",
			          pointHighlightFill: "#fff",
			          pointHighlightStroke: "rgba(60,141,188,1)",
			          data: [22, 42, 30, 29, 96, 17, 70]
			        },
			        {
			          label: "Billing Issues",
			          fillColor: "rgba(255,141,188,0.9)",
			          strokeColor: "rgba(255,141,188,0.8)",
			          pointColor: "#ff33ff",
			          pointStrokeColor: "rgba(254,141,188,1)",
			          pointHighlightFill: "#fff",
			          pointHighlightStroke: "rgba(60,141,188,1)",
			          data: [280, 480, 140, 119, 286, 127, 90]
			        }
			      ]
			    };
			    var lineChartOptions = {
			      //Boolean - If we should show the scale at all
			      showScale: true,
			      //Boolean - Whether grid lines are shown across the chart
			      scaleShowGridLines: false,
			      //String - Colour of the grid lines
			      scaleGridLineColor: "rgba(0,0,0,.05)",
			      //Number - Width of the grid lines
			      scaleGridLineWidth: 1,
			      //Boolean - Whether to show horizontal lines (except X axis)
			      scaleShowHorizontalLines: true,
			      //Boolean - Whether to show vertical lines (except Y axis)
			      scaleShowVerticalLines: true,
			      //Boolean - Whether the line is curved between points
			      bezierCurve: true,
			      //Number - Tension of the bezier curve between points
			      bezierCurveTension: 0.3,
			      //Boolean - Whether to show a dot for each point
			      pointDot: false,
			      //Number - Radius of each point dot in pixels
			      pointDotRadius: 4,
			      //Number - Pixel width of point dot stroke
			      pointDotStrokeWidth: 1,
			      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
			      pointHitDetectionRadius: 20,
			      //Boolean - Whether to show a stroke for datasets
			      datasetStroke: true,
			      //Number - Pixel width of dataset stroke
			      datasetStrokeWidth: 2,
			      //Boolean - Whether to fill the dataset with a color
			      datasetFill: true,
			      //String - A legend template
			      
			      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
			      maintainAspectRatio: true,
			      //Boolean - whether to make the chart responsive to window resizing
			      responsive: true
			    };
			    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
			    var lineChart = new Chart(lineChartCanvas);
			    var lineChartOptions = lineChartOptions	;
			    lineChartOptions.datasetFill = false;
			    lineChart.Line(lineChartData, lineChartOptions);
			});
		</script>
{% endblock %}